button {
  background-color: gray;
  border: 3px solid gray;
  border-radius: 5px;
  color: rgb(255, 197, 58);
  padding: 2px;
  text-decoration: none;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.movie-details {
  background-color: rgb(66, 67, 83);
  border: 2px solid gray;
  color: rgb(233, 233, 238);
  float: left;
  margin-bottom: 20px;
  max-width: 677px;
  padding: 6px;
}

img {
  display: block;
}

.bold {
  font-weight: 700;
}
