.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.title {
  background-color: rgb(21, 69, 81);
  color: rgb(233, 233, 238);
  height: 50px;
  text-align: center;
}

.add-card {
  text-align: right;
}
