.movie-list {
  margin: 20px auto;
  max-width: 700px;
  padding: 0 20px;
}

.movie-list article {
  background: rgb(245, 245, 245);
  border: 1px solid rgb(26, 25, 25);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.movie-list article p {
  color: rgb(83, 82, 82);
  font-size: 16px;
  line-height: 24px;
  margin-top: 5px;

}

.link {
  align-items: center;
  background: rgb(97, 97, 97);
  border: 2px solid rgb(151, 151, 151);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  display: flex;
  font-size: 16px;
  font-weight: bold;
  height: 42px;
  justify-content: center;
  margin-top: 10px;
  text-decoration: none;
}
