.movie-list {
  column-gap: 1rem;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  margin-top: 16px;
  padding: 16px;
  /* row-gap: 1rem; */
}

.add-link-container {
  margin-top: 16px;
  text-align: center;
}

.add-link-container a {
  background-color: thistle;
  border: 1px solid rgb(90, 21, 90);
  border-radius: 5px;
  color: black;
  cursor: pointer;
  font-weight: 700;
  padding: 10px;
  transition: background-color 0.2s;
  width: 120px;
}

.add-link-container a:hover {
  background-color: rgb(90, 21, 90);
  color: white;
}