.container-movie-list {
  display: flex;
  flex-direction: column;
}

img {
  border-radius: 5px;
  box-shadow: 1px 1px 10px black;
  margin: 0 auto;
}

.info {
  align-self: center;
  width: 600px;
}

.buttons {
  background-color: silver;
  border: 1px solid white;
  border-radius: 3px;
  box-shadow: 2px 2px 10px silver;
  color: aliceblue;
  margin: 0 auto;
  padding: 10px;
  text-decoration: none;
}

.container-buttons {
  align-self: center;
  display: flex;
  flex-direction: row;
  width: 25%;
}
