.movie-card {
  background-color: rgb(149, 153, 152);
  border: 2px solid gray;
  border-radius: 7px;
  box-shadow: 2px 2px 10px 5px rgb(0, 0, 0, 0.2);
  color: black;
  margin-bottom: 20px;
  max-width: 300px;
  padding: 6px;
}

.movie-card:hover {
  border: 2px solid rgb(68, 70, 70);
}

p {
  text-align: justify;
}

a {
  background-color: gray;
  border: 3px solid gray;
  border-radius: 5px;
  color: rgb(255, 197, 58);
  padding: 2px;
  text-decoration: none;
}

.image {
  width: 100%;
}

.details {
  text-align: center;
}