.movie-details {
  display: flex;
  justify-content: center;
}

.movie-info {
  display: flex;
  flex-direction: column;
  margin: 2% 5% 5%;
}

.movie-info p {
  text-align: center;
}

.movie-info p:nth-child( 2 ) {
  font-size: 30px;
}

.movie-info p:nth-child( 3 ) {
  font-size: 20px;
}

.movie-info p:nth-child( 4 ) {
  font-size: 15px;
}

.movie-info p:nth-child( 5 ) {
  font-size: 15px;
}

.movie-info p:nth-child( 6 ) {
  font-size: 15px;
}

.movie-details-btn {
  display: flex;
  justify-content: space-around;
}

.movie-details-btn a {
  all: unset;
}

.movie-details-btn a:link {
  color: whitesmoke;
}

.movie-details-btn a:visited {
  color: whitesmoke;
}

.movie-details-btn a:active {
  color: whitesmoke;
}

.movie-details-btn button {
  background: linear-gradient(180deg, rgba(38, 38, 38, 1) 0%, rgba(70, 70, 70, 1) 100%, rgba(96, 97, 97, 1) 100%);
  color: whitesmoke;
  cursor: pointer;
  outline: none;
}

.movie-details-btn button:hover {
  animation: wiggle 0.6s;
}

@keyframes wiggle {

  25% {
    transform: scale(0.8, 1.3);
  }

  50% {
    transform: scale(1.1, 0.8);
  }

  75% {
    transform: scale(0.7, 1.2);
  }
}
