body {
  background-color: #12343b;
  box-sizing: border-box;
  font-size: 16px;
}

h1 {
  background-color: #e1b382;
  font-size: 28px;
  font-weight: 500;
  padding: 10px;
  text-align: center;  
}

