@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  background-color: rgb(142, 205, 193);
  background-image: url("https://www.transparenttextures.com/patterns/black-twill.png");
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: medium;
}

