body {
  background-color: whitesmoke;
  box-sizing: border-box;
  font-size: 16px;
}

.page-title {
  color: #f8f9fa;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.movie-list {
  background-color: whitesmoke;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  overflow: hidden;
  padding: 10px;
  width: 100%;
}

.movie-card {
  align-items: center;
  background-color: whitesmoke;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 400px;
  justify-content: space-between;
  margin: 5px;
  overflow: hidden;
  width: 300px;
}

.movie-card-image {
  width: 100%;
}

.movie-card-body {
  border: 1px solid rgba(0, 0, 0, 0.125);
  flex: 1 1 auto;
  padding: 20px;
  width: 500px;
}

.movie-card-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 12px;
  text-align: center;
}

.movie-card-subtitle {
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;
  text-align: center;
}

.movie-card-storyline {
  font-size: 20px;
  text-align: justify;
}

.movie-card-genre {
  font-size: 15px;
  font-weight: 500;
  margin: 0 0 12px;
  text-align: end;
}

.rating {
  background-color: #007bff;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 3px 9px;
  text-align: center;
}

.view-details {
  background-color: #085bb4ee;
  border-radius: 25px;
  color: white;
  font-family: monospace;
  font-size: 0.6em;
  padding: 5px 10px;
  text-decoration-line: none;
}

.add-movie {
  background-color: #085bb4ee;
  border-radius: 25px;
  color: white;
  font-family: monospace;
  font-size: 0.8em;
  padding: 8px 9px;
  position: fixed;
  text-align: center;
  text-decoration-line: none;
  top: 0;
}

.movie-card-link {
  background-color: #085bb4ee;
  border-radius: 25px;
  color: white;
  display: inline-flex;
  font-family: monospace;
  font-size: 0.8em;
  margin-left: 50px;
  padding: 10px 15px;
  text-decoration-line: none;
}

.form-button-back {
  background-color: #085bb4ee;
  border-radius: 25px;
  color: white;
  display: inline-flex;
  font-family: monospace;
  font-size: 0.7em;
  float: left;
  padding: 8px 15px;
  text-decoration-line: none;
}

.form-button-back:hover {
  background-color: green;
  text-decoration-line: none;
}

.movie-card-link:hover {
  background-color: green;
  text-decoration-line: none;
}

.add-movie:hover {
  background-color: green;
  text-decoration-line: none;
}

.view-details:hover {
  background-color: green;
  text-decoration-line: none;
}

/* Referência Spinner: Luiz Simões http://luizsimoes.github.io/ */
.spinner {
  animation: spin 1s linear infinite;
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: green;
  border-radius: 50%;
  height: 50px;
  left: 50%;
  position: absolute;
  top: 35%;
  width: 50px;
}

.spinner-text {
  color: whitesmoke;
}

@keyframes spin {

  to {
    transform: rotate(360deg);
  }
}

/* Form */
.form-body {
  border: 1px solid rgba(0, 0, 0, 0.125);
  flex: 1 1 auto;
  height: 333px;
  margin: 15px;
  padding: 20px;
  width: 500px;
}

.form-body label {
  display: flex;
  line-height: 30px;
}

.form-body input , textarea , select {
  background-color: whitesmoke;
  border: 1px inset darkblue;
  font-size: 1em;
  text-align: justify;
  width: 100%;
}

.form-body button {
  background-color: transparent;
  border-color: transparent;
  position: absolute;
}

.movie_rating , .movie_genre {
  margin: 5px;
  width: 15%;
}

.btn-submit {
  background-color: #085bb4ee;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  float: right;
  font-family: monospace;
  font-size: 0.7em;
  padding: 1px 15px;
  width: min-content;
  text-decoration-line: none;
}

.btn-submit:hover {
  background-color: green;
  text-decoration-line: none;
}
