body {
  background-color: whitesmoke;
  box-sizing: border-box;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  border-radius: 5px;
  border: 5px solid orangered;
  color: white;
  margin: 2%;
  position: relative;
  width: 35%;
}

.movie-card img {
  width: 100%;
}

.movie-card-info {
  background-color: rgba(0, 0, 0, 0.76);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  width: 100%;
}

.movie-card-info a {
  background-color: rgba(202, 65, 15, 0.726);
  color: white;
  margin: 5px;
  opacity: 0;
  padding: 5px;
  text-decoration: none;
  transition: 650ms;
}

.add-movie a {
  color: white;
  text-decoration: none;
  font-weight: 800;
  letter-spacing: 5px;
  padding: 12px 25px;
  border-radius: 15px;
  transition: 450ms;
}

.tools a {
  color: rgb(226, 74, 13);
  padding: 5px 10px;
  text-decoration: none;
}

.loading {
  align-items: center;
  display: flex;
  font-size: 40pt;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.movie-card-info-dois {
  background-color: black;
  width: 100%;
}

.add-movie {
  align-items: center;
  background-color: orangered;
  display: flex;
  height: 50px;
  justify-content: center;
  width: 100%;
}

.movie-card-info a:hover {
  background-color: rgb(255, 68, 0);
}

.movie-card-info:hover {
  background-color: rgba(0, 0, 0, 0.932);
}

.movie-card:hover .movie-card-info {
  opacity: 1;
  transition: 450ms;
}

.movie-card:hover a {
  opacity: 1;
  transition: 650ms;
}

.add-movie a:hover {
  background-color: black;
  transition: 450ms;
}
