body {
  background-color: white;
  box-sizing: border-box;
}

.link:hover {
  color: rgb(180, 175, 175)
}

.link {
  color: white;
  text-decoration: none;
}

.container {
  background-color: rgb(243, 240, 240);
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  margin: 50px auto;
  min-height: 620px;
}

.movie-card-header {
  align-items: center;
  background-color: #343a40;
  display: flex;
  height: 100px;
  justify-content: center;
}

.page-title {
  color: #f8f9fa;
  font-size: 28px;
  font-weight: 500;
  text-align: center;
}

.movie-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 48px 30px;
}

.movie-card {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 450px;
  margin: 5px;
  overflow: hidden;
  width: 300px;
}


.movie-card-image {
  width: 100%;
}

.movie-card-body {
  flex: 1 1 auto;
  padding: 20px;
}

.movie-card-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 12px;
}

.movie-card-subtitle {
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;
}

.movie-card-storyline {
  font-size: 14px;
  text-align: justify;
}

.movie-card-rating {
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: flex-end;
  padding: 12px 20px;
}

.details {
  background: linear-gradient(#9e9e9b, #8f8e8e);
  border: 1px solid rgb(80, 79, 79);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font: 700 9.5px Arial, Helvetica, sans-serif;
  line-height: 23.94px;
  padding: 5px 7px;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px;
  width: 194px;
}

.add-movie {
  background: linear-gradient(darkorange, #ffa500);
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font: 700 17.5px Arial, Helvetica, sans-serif;
  line-height: 23.94px;
  margin: 10px 0 30px 10px;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px;
  width: 194px;
}

.add-movie-div {
  display: flex;
  justify-content: center;
}

.moviedetails-container {
  align-items: center;
  background-color: rgb(243, 240, 240);
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  height: 750px;
  justify-content: center;
  margin: 30px auto;
  width: 95%;
}

.movie-details {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  height: 660px;
  margin: 5px;
  overflow: hidden;
  width: 800px;
}

.moviedetails-img {
  width: 100%;
}

.moviedetails-body {
  flex: 1 1 auto;
  padding: 20px;
}

.moviedetails-title {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 12px;
}

.moviedetails-subtitle {
  color: #6c757d;
  font-size: 16px;
  font-weight: 500;
  margin: 0 0 8px;
}

.moviedetails-storyline {
  font-size: 14px;
  text-align: justify;
}

.moviedetails-options {
  align-items: center;
  display: flex;
  justify-content: center;
}

.moviedetails-button-div {
  margin: 0 5px 0 5px;
}

.moviedetails-button {
  background: linear-gradient(darkorange, #ffa500);
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font: 700 15px Arial, Helvetica, sans-serif;
  padding: 5px 0 5px 0;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px;
  width: 100px;
}

.edit-link {
  background: linear-gradient(darkorange, #ffa500);
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font: 700 15.5px Arial, Helvetica, sans-serif;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px;
  width: 100px;
}

.back-link {
  background: linear-gradient(darkorange, #ffa500);
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font: 700 15.5px Arial, Helvetica, sans-serif;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px;
  width: 100px;
}

.moviedetails-back-div {
  margin: 0 5px 0 5px;
}

.moviedetails-edit-div {
  margin: 0 5px 0 5px;
}

.moviedetails-rating {
  background-color: #0cce1c;
  border-radius: 25px;
  color: white;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  justify-content: center;
  padding: 3px 9px;
  width: 85px;
}

.container-form {
  align-items: center;
  background-color: rgb(243, 240, 240);
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  height: 700px;
  justify-content: center;
  margin: 30px auto;
  width: 650px;
}

.movie-title-div {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.movie-subtitle-div {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.movie-img-div {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.storyline-div {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.movie-genre-div {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 30px 0 25px 0;
}

.movie-rating-div {
  align-items: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.forms-button-div {
  align-items: center;
  display: flex;
  justify-content: center;
}

.forms-button {
  background: linear-gradient(darkorange, #ffa500);
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font: 700 18px Arial, Helvetica, sans-serif;
  padding: 5px 0 5px 0;
  text-align: center;
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px;
  width: 120px;
}

input {
  height: 30px;
  margin: 15px 0 15px 0;
  max-width: 500px;
  position: relative;
  width: 600px;
}

form {
  height: 90%;
  width: 100%;

}

textarea {
  max-height: 100px;
  max-width: 550px;
}

select {
  height: 30px;
  margin: 0 10px 0 10px;
}

label {
  font-size: 18px;
  margin-bottom: 10px;
}