body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.movie-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(70, 69, 69);
  
}

.movie-card {
  margin: 20px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 5px;
  background-color: whitesmoke;

}

.movie-details {
  margin: 20px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 5px;
  background-color: whitesmoke;
}

.link{
  text-align: center;
  font-size: 20px;
  padding: 20px;
  background-color:#f5c518;
}

a {  
  text-decoration: none;
  color: black;
  font-weight: 900;
}

.header {
  text-align: center;
  padding: 30px;
  background-color:#f5c518;
  font-size: 30px;
}

.header h1 {
  margin: 0;
}